/* set the background-color to red */ 
 .navbar-inner 
 { 
 background-color: black; 
 /* remove the gradient */ 
 background-image: none; 
 /* set font color to white */ 
 color: white; 
 } 
 /* set hover and focus to black */ 
 .navbar .nav .dropdown-menu > li > a:focus, 
 .navbar .nav .dropdown-menu > li > a:hover { 
 background-color: black ; 
 color: white; 
 } 

 /* menu items */ 

 /* set the background of the menu items to pink and default color to white */ 

 .navbar .nav > li > a { 
 background-color:#cc0000 ; 
 color: white; 
 }

 .panel{
 	background-color: rgba(245, 245, 245, 0.4);
 	 color: white;
 }


 /* set hover and focus to black */ 
 .navbar .nav > li > a:focus, 
 .navbar .nav > li > a:hover { 
 background-color: black ; 
 color: white; 
 } 
 /* set active item to darkgreen */ 
 .navbar .nav > .active > a, 
 .navbar .nav > .active > a:hover, 
 .navbar .nav > .active > a:focus { 

 	  .btn .btn-danger . btn-circle .btn-lg > .active > a, 
 .btn .btn-danger .btn-circle .btn-lg > .active > a:hover, 
 .btn  .btn-danger .btn-circle .btn-lg > .active > a:focus { 

 background-color: black ; 
 color: white; 
 }

 td {
    height: 40px;
    vertical-align: bottom;
	padding: 15px;
}
.table{
 border-collapse: collapse;
  color: white; 
 }

  .font-color{
 font-color{white;}